@model sea_booking.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelayDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelayDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
